<div class="section">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="columns">
      {{ range .products }}
      <div class="column is-3">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="/products" class="btn raise">See all products</a>
    </div>
  </div>
</div>
